body{
    background-color: #052D17;   
}

.main-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-ui-row{
    display: flex;
    height: 15%;
    justify-content: space-between;
    background-color: #031B0E;
}

.top-ui-row-btn-wrapper{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.flop-wrapper{
    display: flex;
    width: 33%;
    align-items: center;
}

.center-ui-row{
    display: flex;
    height: 84%;
}

.side-ui-column{
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: center;
    background-color: #042412;
}

.stack-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-logo-wrapper img{
    width: 100%;
}

.stack-table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.stack-table-left{
    border-right: 2px solid #FFFFFF;
    padding-left: 8px;
    padding-right: 8px;
}

.stack-table-right{
    padding-left: 8px;
    padding-right: 8px;
}

.center-ui-column{
    display: flex;
    flex-direction: column;
    width: 84%;
    justify-content: center;
    align-items: center;
    background-color: #052A15;
}

.center-ui-column-bottom-row{
    display: flex;
    background-color: #031B0E;
    width: 100%;
    height: 15%;
}

.canvas-wrapper{
    background-color: transparent;
}

.canvas{
    /* border-radius: 800px; */
}

.ui-wrapper{
    width: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 213, 213);
}

.summary-message{
    text-align: center;
    margin: 6px;
}

.players-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
}

.players-row{
    background-color: #2D6A4F;
    width: 84%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.player-row-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.table-row-server-player{
    border: thick, solid, green;
}

.table-row-local-player{
    font-weight: bold;
}

.table-row-player-wrapper{
    display: flex;
}

.players-row-header{
    display: flex;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: rgb(193, 223, 233);
}

.players-row-other-stats-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin-left: 12px;
}


.players-row-stat{
    /* color: white; */
}

.players-row-stat-primary{
    font-size: large;
    color: #e9cd2c;
    width: 95%;
}

.players-row-stat-secondary{
    width: 48%;
    color: white;
}

.players-row-stat-hand{
    width: 98%;
    color: white;
}

.players-row-stat-hand p{
    width: 98%;
    color: white;
    font-size: larger;
    margin: 2px;
}

.button-input-wrapper{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 24px 0px 24px 0px;
}

.raise-button{
    background-color: #6A6C2B;
    color: white;
    border: 1px solid #535526;
    width: 48%;
    height: 50%;
    font-size: larger;
    font-weight: 900;
}

.raise-input{
    width: 50%;
    height: 50%;
    font-size: larger;
}

.raise-button:hover:enabled{
    background-color: #9ea30f;
}

.raise-button:disabled{
    background-color: rgb(127, 139, 127);
    color: rgb(165, 165, 165);
    font-weight: 600;
}

.green-button{
    background-color: #6A6C2B;
    color: white;
    border: 1px solid #535526;
    width: 60%;
    margin: 24px;
    height: 50%;
    font-size: larger;
    font-weight: 900;
}

.green-button:hover:enabled{
    background-color: #9ea30f;
}

.green-button:disabled{
    background-color: rgb(127, 139, 127);
    color: rgb(165, 165, 165);
    font-weight: 600;
}

.my-hand{
    width: 24%;
    font-size: x-large;
    /* color: wheat; */
}

.my-hand .hand-card-wrapper{
   height: 80%;
}

.hand-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.hand-card-wrapper{
    width: 40%;
    height: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-number-black{
    color: black;
}

.card-number-red{
    color: red;
}

.i-span-club{
    display: inline-block;
    background-image: url('./assets/club_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-diamond{
    display: inline-block;
    background-image: url('./assets/diamond_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-heart{
    display: inline-block;
    background-image: url('./assets/heart_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-spade{
    display: inline-block;
    background-image: url('./assets/spade_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}

.raise-error-message-show{
    color: red;
    background-color: rgb(255, 104, 104);
    padding: 10px;
    margin: 0px;
}

.raise-error-message-hide{
    display: none;
}