body{
    background-color: #052D17;   
}

.main-wrapper{
    display: flex;
    flex-direction: column;
}

.top-ui-row{
    display: flex;
    height: 15%;
    justify-content: space-between;
    background-color: #031B0E;
}

.top-ui-row-btn-wrapper{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.flop-wrapper{
    display: flex;
    width: 33%;
}

.center-ui-row{
    display: flex;
    height: 84%;
}

.side-ui-column{
    display: flex;
    flex-direction: column;
    width: 15%;
    justify-content: end;
    background-color: #042412;
}

.stack-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stack-logo-wrapper img{
    width: 100%;
}

.stack-table-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.stack-table-left{
    border-right: 2px solid #FFFFFF;
    padding-left: 8px;
    padding-right: 8px;
}

.stack-table-right{
    padding-left: 8px;
    padding-right: 8px;
}

.center-ui-column{
    display: flex;
    flex-direction: column;
    width: 84%;
    justify-content: center;
    align-items: center;
    background-color: #052A15;
}

.center-ui-column-bottom-row{
    display: flex;
    background-color: #031B0E;
    width: 100%;
}

.canvas-wrapper{
    background-color: transparent;
}

.canvas{
    border-radius: 800px;
}

.ui-wrapper{
    width: 250px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(213, 213, 213);
}

.summary-message{
    text-align: center;
    margin: 6px;
}

.players-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    justify-content: center;
    align-items: center;
}

.players-row{
    background-color: #2D6A4F;
    width: 84%;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    row-gap: 4px;
    padding: 10px;
}

.players-row-stat{
    color: white;
}

.table-row-server-player{
    border: thick, solid, green;
}

.table-row-local-player{
    font-weight: bold;
}

.button-input-wrapper{
    margin: 24px;
    height: 20px;
    width: 60%;
}

.raise-button{
    background-color: green;
    border: 1px solid black;
    width: 100%;
}

.raise-input{
    width: 100%;
}

.raise-button:hover:enabled{
    background-color: rgb(60, 179, 60);
    border: 1px solid rgb(227, 220, 88)ca;
}

.raise-button:disabled{
    background-color: rgb(208, 219, 208);
}

.green-button{
    background-color: green;
    border: 1px solid black;
    width: 60%;
    margin: 24px;
    height: 20px;
}

.green-button:hover:enabled{
    background-color: rgb(60, 179, 60);
    border: 1px solid rgb(227, 220, 88)ca;
    width: 60%;
    margin: 24px;
    height: 20px;
}

.green-button:disabled{
    background-color: rgb(208, 219, 208);
}

.i-span-club{
    display: inline-block;
    background-image: url('./assets/club_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-diamond{
    display: inline-block;
    background-image: url('./assets/diamond_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-heart{
    display: inline-block;
    background-image: url('./assets/heart_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}
.i-span-spade{
    display: inline-block;
    background-image: url('./assets/spade_icon.png');
    background-size: .8em;
    width: .8em;
    height: .8em;
}

.raise-error-message-show{
    color: red;
    background-color: rgb(255, 104, 104);
    padding: 10px;
    margin: 0px;
}

.raise-error-message-hide{
    display: none;
}